@import url('https://fonts.googleapis.com/css2?family=Blinker&family=Manrope:wght@400;500;600&family=Mochiy+Pop+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Blinker&family=Manrope:wght@400;500;600&family=Poppins:wght@500&display=swap');


html, body {
    height: 100%;
    
}

*{
    box-sizing: border-box;

}

body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #E2DCC8;
    
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0F3D3E;
    position: relative;
    height: 60px;
}
nav > header > h3 {
    font-size: 2.4rem;
    font-family: 'Mochiy Pop One', sans-serif;
    color: #0F3D3E;
    margin: 1rem;
    text-transform: uppercase;
    text-shadow: 1px 1px 2px black, 0 0 1em #E2DCC8, 0 0 0.2em #d4c79c;
    cursor: pointer;
}

nav > ul {
    display: flex;
    justify-content: space-evenly;
}
nav > ul > li {
    list-style: none;
    padding: 1rem 2rem;
    cursor: pointer;
}
nav > ul > li:hover {
    background-color: #092323;
}
nav > ul > li > a {
    text-decoration: none;
    color: #E2DCC8;
    text-transform: uppercase;
    font-size: 1.2rem;
}
nav > div{
    position: absolute;
    width: 20px;
    height: 15px;
    right: 1.8rem;
    display: none;
}

nav > div > i {
    background-color: #E2DCC8;
    margin: 2px;
    width: 18px;
    height: 3px;
    display: block;
    border-radius: 4px;
}

@media only screen and (max-width: 600px) {
    nav > div {
        display: block;
    }

    nav > ul {
        flex-direction: column;
        position: absolute;
        top: 2.6rem;
        right: 0;
        background-color: #0F3D3E;
        display: none;
    }
    nav > ul > li {
        border-bottom: 2px solid #E2DCC8;
    }
    .display {
        display: block;
    }
    .last-li {
        border-bottom: none;
    }
}


.child-img {
    max-width: 100vw;
    max-height: 500px;
    object-fit: cover;
    background-size: cover;
    position: absolute;
    left: 0;
    top: 60px;
    /* border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%; */
}

.mySlides {
    display:none;
    height: 500px;
    /* object-fit: cover; */
}

.arrow-btn {
    position: absolute;
    top: 268px;
    width: 38px;
    height: 32px;
    background-color: #0F3D3E;
    color: #d4c79c;
    font-weight: bold;
    border-radius: 50%;
    cursor: pointer;
    border: none;
}
.arrow-btn:active {
    background-color: #d4c79c;
    color: #0F3D3E;
}
.left-arrow-btn {
    right: auto;
    left: 40px;
}

.right-arrow-btn {
    left: auto;
    right: 40px;
}
.hidden-btn {
    display: none;
}

.slideshow-container {
    margin: 0 4rem;
}

.bullet-div {
    position: absolute;
    top: 28rem;
    left: 46vw;
    width: 80px;
    height: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}
@media  (min-width: 800px) {
    .bullet-div {
        left: 47vw;
    }
}

.bullet {
    width: 10px;
    height: 10px;
    background-color: #092323;
    border-radius: 50%;
    border: 2px solid #E2DCC8;
}
.bullet:active {
    background-color: #d4c79c;
}

.product-div-heading, h3 {
    text-align: center;
    text-decoration: underline;
    color: #0F3D3E;
}

#img1 {
    grid-area: img1;
}
#img2 {
    grid-area: img2;
}
#img3 {
    grid-area: img3;
}
#img4 {
    grid-area: img4;
}
#img5 {
    grid-area: img5;
}
#img6 {
    grid-area: img6;
}



.products-div {
    margin: 1rem;
    gap: 1rem;
    display: grid;
    grid-template-columns: repeat(autofit, minmax(150px, 1fr)) ;
    grid-template-areas: 'img1 img2 img3 img4';
    align-items: center;
    justify-items: center;
}
/* 
#product-img {
    margin: 1rem;
} */

@media  (max-width: 800px) {
    .products-div {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr ;
        grid-template-areas: 'img1 img2 img3';
        overflow: hidden;
    }
}


.deals-container, .blog-container , .footer{
    width: 100%;
    height: 500px;
    background-color: rgb(240, 171, 171);
}
